/**
 * Merhaba. Ben sem amca.
 * 
 * sahipsiz topraklarda  ("Terra nullius") olduğuna göre
 *
 * Manifestomuzu sizinle paylaşırken, 
 * bu mesaja ulaşmanızı ise yoldaş Samuel platform oluşturup güvenliğini sağlayacak.
 *
 ------------ M A N İ F E S T O  ----##08-##18---
- Vaz mı geçtik?
Hayır! (Her zaman bu https://youtu.be/LLnEjyTUIKw durumlar olsa da) henüz #vazgeçmedik! 

Bazen yeniden başlamanın en kısa yolu vazgeçmektir. Bu yolu seçtik ve henüz #YeniBaşlıyoruz...

Sadece üzgün olduğumuzu belirtme ihtiyacı duyuyoruz. Çünkü siz de dahil hiç kimsenin ihtiyacı yokken;
parlak renkler, dikkat çekici şekiller, can alıcı tasarımlar ve ruhunuzu çelen müziklerle daha fazla 
tüketmenizi sağlamaya yönelik yürüttüğümüz kampanya stratejilerimizi 2018’in son haftasında durdurma kararı aldık.
Bu karar almamıza sebep olarak bir sürü bahane uydurabiliriz. Hepsi de gözünüze hoş gelecektir. Ama bu yolu
seçersek vazgeçmemizin bir anlamı kalmaz: Yeni bir başlangıç, eski yöntemlerle gerçekleşmez.

Elbette pişman değiliz. İnsan öğrenerek var olur. Sadece bizimle çalıştığımayı seçen müşterilerimizle değil, 
bizim tercih ettiklerimizle de çalışmanın ayrı bir keyif olduğunu gördük. Ortaya koyduğumuz pazarlama stratejileri 
ve danışmanlık hizmetlerimiz sizler tarafından takdirle karşılandı. Böylece birbirimize karşılıklı olarak teşekkür 
edebilme şansını da yakalamış olduk. Belki de çağımızın en zor şeylerinden biri.

Özel verileriniz sonsuza kadar güvende kalmayı garantiledi. Onlardan asla haksız gelir elde etmedik. 
Şirketlerin de müşterilerine bu konuda etik yaklaşmalarını her daim sağladık. Rakamlar, trendler ve tüketim 
davranışlarınız üzerine gözlemler gerçekleştirdik, ancak kişisel hiçbir bilginizle ilgilenmedik.
#Google, #Facebook ve diğerleri gibi ilgi alanları, yaş, cinsiyet, konum, ilişki durumu, vb) bilgiler ile 
kesinlikle etiketlemedik, kategorilendirmedik.)

Şimdi... 

Bize biraz müsaade..!

Şu sıralar tecrübeye dönüştürdüğümüz emeklerimizin karşılığını almaya odaklandık.

İkinci Büyük Adım için ortaya atacağımız hipotezlerimizle yine bol bol deneyler yapmaya başlamak için çok 
sabırsızlanıyor olsak da bir süre kapalı devre kalmayı tercih ediyor, affınıza sığınıyoruz.

Eğer dünyayı #değiştiremeyeceğimizi düşünüyor olsaydık,
Bu sadece onu değiştirecek olanlardan biri olmadığımızı kabul etmek anlamına gelirdi. Oysa biz düşüncenin özgürlüğüne
inanıyor, insanlığı bir bütün olarak görüyoruz. Değiştirme gücünün en büyük belirtisi de bu olsa gerek.

Her şeyi bir sürebizsiz bırakmadan önce #Son bir-iki fikir vermek gerekirse;
Müziğin sesini duymayanlar #dans edenleri #deli sanırlar. ;)

Şu an biz;
“Problemlerimizi, onları yarattığımız andaki gibi düşünerek çözemeyiz.” sözlerinin ne anlama geldiğini tekrar düşünüyoruz.
Bu konuda en küçük ya da uçuk bir fikriniz varsa lütfen bizimle paylaşmaktan çekinmeyin.
Güneşli, bulutsuz günler özlemiyle...
SEM AMCA

Güzel cümlelerinden faydalandığımız Ö.Asaf, R.N. Güntekin, Bulutsuzluk Özlemi, J. Fresco, F. Nietzsche ve A. Einstein 'a
Nefesi ve sesiyle K. Tangöze ’ye, Kalemi ile İ. Avadit'e teşekkür ederiz.

 * logout : @semamca
 * ...
 * login : @samuel
 * ...
 * Password : 
 * Login successful!
 *
 * Hey. My name's Samuel Reed.
 *
 * I build interactive websites.
 *
 * How about some live coding?
 */

/**
 * Let's begin. We start by animating... well, everything.
 */

* {
  -webkit-transition: all 1s;
}

/**
 * That didn't do much. But you'll see.
 *
 * Black on white is really boring,
 * so let's do something about it.
 */

html {
  background: rgb(63, 82, 99);
}

/***
 * Hold on...
 */

pre, a {
  color: white;
}

/**
 * That's better. Sorry about your eyes.
 *
 * Working in this big empty space is tough.
 *
 * I'm going to make a nice area for us to work in.
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 44.6%;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 10px 10px 20px;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
}

/**
 * Okay. We're going to start filling up the screen.
 * Let's get ready to do some work.
 */

#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}

/**
 * This is good, but all the text is white!
 * Let's make it even more readable.
 */

.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * Now we're getting somewhere.
 * Time to get a little perspective.
 */

body {
  -webkit-perspective: 1000px;
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 94.5%;
}

/**
 * So, let's talk projects. That's why you're here, right?
 * I can't imagine you'd come just to see the pretty colors.
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}
